* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.traphy {
  display: none;
}
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  background: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
  position: relative;
}
.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #e74976;
  margin-bottom: auto;
}
.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
.player--active .current {
  opacity: 1;
}
.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
.current {
  background-color: #eb4f7b;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  transition: all 0.75s;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.15s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:hover {
  box-shadow: inset 0 0 0 0.6px #000;
}
.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.205);
}
.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}
.hidden {
  display: none;
}
.winner {
  background-color: rgb(244, 248, 30);
}
.winner .score {
  color: #1f1e1e;
}
.winner .traphy {
  display: block;
  font-size: 62px;
  margin-bottom: 100px;
}
.cooder {
  position: absolute;
  left: 40%;
  top: 55.5rem;
  font-size: 1.8rem;
  color: rgba(48, 47, 47, 0.8);
  padding: 0.8rem;
  font-weight: 0 !important;
}
.cooder a:link,
.cooder a:visited {
  text-decoration: none;
  color: rgba(48, 47, 47, 0.8);
  font-weight: 0 !important;
}
.cooder a:hover,
.cooder a:active {
  color: rgba(48, 47, 47, 1);
  border-bottom: 1px solid rgba(48, 47, 47, 1);
  padding-bottom: 0.2rem;
}

@media (max-width: 80rem) {
  .name {
    font-size: 3rem;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 40%;
  }
  .name {
    font-size: 2rem;
  }
  .current-label {
    font-size: 1.6rem;
  }
  .winner .traphy {
    font-size: 45px;
    margin-bottom: 50px;
  }
}
